<div class="contact">
    <h1>
        Hello
    </h1>

    <form action="https://formspree.io/&#102;&#108;&#111;&#114;&#105;&#97;&#110;&#64;&#122;&#101;&#109;&#107;&#101;&#46;&#105;&#111;" method="POST">
        <div class="form-row">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-row">
            <label for="email">Your email address</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-row">
            <label for="message">Your message</label>
            <textarea rows="8" id="message" name="message" required></textarea>
        </div>
        <div class="form-row text-center">
            <input type="submit" value="Send" class="btn">
        </div>
    </form>
</div>
